.sebm-google-map-container {
    height: 300px;
  }

nav ul li{
  display: block;
}

.form{
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
}


.form label{
  margin-right: 10px;
}

.form input[submit]{
  margin-left: 10px;
}