<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <!--<a href=" {{ url_for('index') }}" class="navbar-brand">Toiltor</a>-->
              <a href="#" class="navbar-brand"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
               
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item active"><a href="" class="nav-link">Rotas</a></li>
                  <li class="nav-item active"><a href="/calendario" class="nav-link">Calendário</a></li>
                  <li class="nav-item active">
                </ul>
              </div>
</nav>

<router-outlet></router-outlet>




